@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewData["Title"] = "Product Management";
}
<html>
<head>
    <title>Vue + .NET Integrated</title>
    <script type="module" src="/app/app.js"></script>
</head>
<body>
    <div id="app"></div>
</body>
</html>